<nav class="site-title">
    <div>
    <a href="/"><h1>Friends Blog</h1></a>
    <h3>The Place of hapiness</h3>
    </div>
<ul>
    <li><a href="/">Blog</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
</ul>
</nav>