<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/header.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

<div class="not-found content">
    <h2>Oops file Not Found</h2>
</div>
<%- include("./partials/footer.ejs") %>


</body>
</html>