<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/header.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

<div class="about content">
        <h2>About Us </h2>
        <p>We are the students of PSG College of Technology</p>
        <p>We are the students who are going to rule the world of tomorrow</p>
        <p>We would enjoy our time and also we would maintain our pace in the studies </p>
</div>
<%- include("./partials/footer.ejs") %>

</body>
</html>